.footerbg {
  background-color: brown;
  color: blanchedalmond;
}

.navbg {
  background-color: burlywood;
}

.homepg {
  min-height: 80vh;
}

.imgWrap {
  height: 400px;
}
.img {
  max-width: 100%;
  max-height: 100%;
}